DATABASE_URL="postgresql://usuario:senha@localhost:5432/mynotes"

JWT_ACCESS_SECRET="substitua-por-um-segredo-longo-e-aleatorio"
JWT_REFRESH_SECRET="substitua-por-outro-segredo-longo-e-aleatorio"

PORT=3333
